*{
    margin:0;
    padding:0;
}
body{
    padding-top:60px;
    overflow:hidden;
}
.BOX{
    width:600px;
    height:300px;
    border:3px solid black;
    
}
.container{
    width:600px;
    
    margin-top:7px;
    padding:5px;
    display:flex;
    justify-content: center;
}
.AboutBox{
    width:80px;
    height:30px;

    border:2px solid black;
    margin:6px;
    
}

#Box-1{
    background-color: darkred;
}

#Box-2{
    background-color:gold;
}
#Box-3{
    background-color:indigo;
}

#Box-4{
    background-color:lightcoral;
}
#Box-5{
   
 text-align:center;
}
@media (max-width:570px){
    .BOX{
        width:400px;
        height:300px;
        margin:5px;
        
        
    }
    .container{
        width:400px;
        margin:5px;
       
        
    
    }
   
}
